{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                        <div class="card-body text-white">
                            <h1>Инструменты для обработки спутниковых изображений</h1>
                            <h5>
                              Существует множество инструментов и программного обеспечения, которые можно использовать для обработки спутниковых изображений. Вот некоторые из них:
                                <br>
                              1. Общедоступные программы:
                                <br>
                                 &nbsp;&nbsp;&nbsp;- Google Earth Engine: Это облачная платформа от Google, предназначенная для анализа и обработки огромного объема спутниковых изображений.
                                <br>
                                &nbsp;&nbsp;&nbsp;- QGIS: Бесплатная и открытая геоинформационная система, которая поддерживает обработку спутниковых изображений и множество геоаналитических возможностей.
                                <br>
                                &nbsp;&nbsp;&nbsp;- GRASS GIS: Еще один бесплатный и открытый геоинформационный инструмент, включающий мощные возможности обработки спутниковых данных.

                              <br>
                                2. Коммерческое программное обеспечение:
                                <br>
                                &nbsp;&nbsp;&nbsp;- ENVI: Это программное обеспечение для анализа и обработки спутниковых изображений, который предлагает различные функции, такие как классификация, композиты изображений и оценка качества данных.
                                <br>
                                &nbsp;&nbsp;&nbsp;- ERDAS IMAGINE: Это популярное программное обеспечение для обработки спутниковых изображений, предлагающее множество инструментов для анализа и обработки геопространственных данных.

                              <br>
                                3. Открытые библиотеки и пакеты:
                                <br>
                                &nbsp;&nbsp;&nbsp;- GDAL (Geospatial Data Abstraction Library): Открытая библиотека, предоставляющая набор инструментов для чтения, записи и обработки спутниковых изображений и других геоинформационных данных.
                                <br>
                                &nbsp;&nbsp;&nbsp;- Rasterio: Python-библиотека, которая предоставляет инструменты для чтения и записи спутниковых изображений в формате Raster и их обработки.
                                <br>
                                &nbsp;&nbsp;&nbsp;- OpenCV: Библиотека компьютерного зрения и обработки изображений, которая может быть использована для обработки спутниковых изображений.

                           </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
