{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                        <div class="card-body text-white">
                            <h1>Подготовка данных</h1>
                            <h5>
                                Подготовка данных для обработки спутниковых изображений включает несколько важных шагов. Вот некоторые из них:

                                <br>
                                1. Получение спутниковых изображений: Выберите нужные вам спутниковые изображения, которые можно получить из различных источников, таких как Google Earth, Sentinel Hub, DigitalGlobe и другие.

                                <br>
                                2. Обработка данных:
                                <br>
                                   &nbsp;&nbsp;&nbsp;- Преработка: Проведите преработку данных, включая удаление артефактов и шумов, коррекцию геометрии изображений, выравнивание цветовой гаммы и улучшение контраста.
                                <br>
                                &nbsp;&nbsp;&nbsp;- Резамплирование: Если требуется изменение разрешения изображений, выполните резамплирование, применив подходящий метод интерполяции.
                                <br>
                                &nbsp;&nbsp;&nbsp;- Геометрическая коррекция: Если есть необходимость в ортокоррекции изображений, проведите геометрическую коррекцию, чтобы сделать изображения географически точными.
                                <br>
                                &nbsp;&nbsp;&nbsp;- Нормализация: Выполните нормализацию изображений, чтобы создать консистентность в цветовой гамме и яркости.

                                <br>
                                3. Выделение интересующей области: Если вам требуется анализировать конкретные области, выполните выделение интересующей области на изображении, чтобы сосредоточиться на конкретных участках.

                                <br>
                                4. Синтез дополнительных данных: Если нужно, можно синтезировать дополнительные данные, такие как индексы вегетации (например, NDVI), рельефные модели или классификационные карты для улучшенного анализа.

                                <br>
                                5. Преобразование данных: Проведите преобразование данных в нужный вам формат (например, TIFF или JPEG) для обработки и дальнейшего использования.

                           </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
